/* global */
/* theme colors */
:root {
--bg-color: #333;
--controls: #555;
--control-accents: #fff;
--title-color: #fff;
--text-color: #fff;
}
/* topography background image */
body{
  
  background-image: url(../img/topography.svg);
}
/* global body and h styling */
body,
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--title-color);
  line-height: 1.2;
}
/* large screen left and right margin */
main {
  margin-block: auto;
}
/* navigation section - hamburger separate file */
.menu-wrap {
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-color);
    color: var(--title-color);
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
 li {
    list-style: none;
}
.navbar-links li:hover {
 background-color: var(--controls);
}
.navbar-links a {
    margin-right: 20px;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    display: block;
}
.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    /* background-color: #fff; */
    border-radius: 10px;
}
/* header image */
.header-container {
  display: grid;
  grid-template: "container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(450px, 50vh, 600px);
}
/* header carousel */
@import url("https://fonts.googleapis.com/css2?family=Gorditas&display=swap");
.container {
  display: grid;
  grid-template: "container" 1fr;
  place-items: center;
  place-content: center;
  overflow: hidden;
  max-height: clamp(450px, 50vh, 600px);
}
.container > * {
  grid-area: container;
  max-width: 100vw;
}
.carousel-control.prev {
  place-self: center left;
}
.carousel-control.next {
  place-self: center right;
}
.carousel-dots {
  place-self: end center;
}
/* Other element styles */
* {
  box-sizing: border-box;
}
.checkbox {
  display:none;
}
.container {
  position: relative;
  border-top: var(--border);
  border-bottom: var(--border);
  margin: 0 auto;
  width: 100%;
  /* color: white; */
}
.title {
  position: relative;
  font-family: "Gorditas", sans-serif;
  font-size: clamp(1rem, 4vw, 2.5rem);
  padding: 1rem;
  text-align: center;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 border-radius: .3rem;
  z-index: 1;
  place-self: center center;
  background-color: rgb(51, 51, 51, 0.3);
}
.carousel-viewport {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}
.carousel-viewport .items {
  position: relative;
  display: flex;
  transition: transform 500ms cubic-bezier(0.25, 1, 0.5, 1);
}
.carousel-viewport .item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16 / 9;
  min-width: 100%;
  transform: translateZ(0);
}
.carousel-viewport img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  user-select: none;
}
.carousel-control {
  --size: clamp(2.5rem, 8vw, 4rem);
  position: relative;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--control-accents);
  fill: currentcolor;
  background: var(--controls);
  border: none;
  width: var(--size);
  height: var(--size);
  padding: 0.25rem;
  touch-action: manipulation;
  transform: translateY(0);
}
.carousel-control:active {
  transform: translateY(1px);
}
.carousel-control svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.carousel-dots {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.carousel-dots .dot {
  --size: 1rem;
  padding: 0;
  font-size: 0;
  color: transparent;
  border: 3px solid var(--control-accents);
  background-color: var(--control-accents);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}
.carousel-dots .dot.active {
  background-color:var(--controls);
}
/* aspect-ratio fallback */
@supports not (aspect-ratio: 16 / 9) {
  .carousel-viewport .item::before {
    content: "";
    float: left;
    padding-top: 56.25%;
  }
  .carousel-viewport .item::after {
    content: "";
    display: block;
    clear: both;
  }
}
/* main content */
.main-container {
  display: grid;
}
    section {
   /* border: solid 1px red; */
   margin: 0 auto;
   /* padding-block: min(10vh, 3rem); */
   padding-left: 1rem;
   padding-right: 1rem;
   line-height: 1.3;
   max-width: 100ch;
}
.main-title {
  margin-top: 10px;
  font-size: 2rem;
  text-align: center;
}
/* subtitles */
h3 {
  /* border: solid 1px red; */
  margin: 1rem 1rem;
  text-align: center;
  font-size: 2.5rem;
  text-align: center;
  /* text-shadow: 1px 1.5px 8px #333; */
}
.directions-tagline {
  text-align: center;
}
p,
.distance-list-item,
.check-in-item
 {
  margin: 1rem 0 1rem 0;
  font-size: 1.2rem;
  /* line-height: 1.2; */
  max-width: 100ch;
}
.address li {
  line-height: 1.5;
}
.gps li{
  /* border: solid 1px yellow; */
  line-height: 1.5;
}
.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  place-items: center;
}
.card-img,
iframe {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* grid-column: 1/ -1; */
}
.card-content {
  padding: 1rem;
  /* border: solid yellow 1px; */
}
.card-content h2 {
  margin-bottom: 2rem;;
  font-size: 2rem;
}
.card-content p {
  line-height: 1.5;
  font-size: 1.5rem;
}
/* font awesome icons */
 .icon::before {
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
 }
/* .contact-title::before {
  padding-right: 3px;
  content:'';
  background-image: url(../img/phone-square-alt-solid.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
} */
.social ul{
  /* border: solid 1px yellow; */
  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: start;
}
.social-link-tel::before {
  display: inline-block;
  padding-right: 3px;
  content:'';
  background-image: url(../img/phone-square-alt-solid.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.social-link-email::before {
  display: inline-block;
  padding-right: 3px;
  content:'';
  background-image: url(../img/envelope-solid.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.social-link-line::before {
  display: inline-block;
  padding-right: 3px;
  content:'';
  background-image: url(../img/line.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.social-link-what::before {
  display: inline-block;
  padding-right: 3px;
  content:'';
  background-image: url(../img/whatsapp-square.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.social-link-msg::before {
  display: inline-block;
  padding-right: 3px;
  content:'';
  background-image: url(../img/facebook-messenger.svg);
  background-size: 40px 40px;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
.google-map {
  margin: 1rem 0;
  width: 800px;
  height: 650px;
}
.address-list {
  list-style: none;
}
.rates-title,
.info-rate {
  font-size: 1.5rem;
}
.footer {
  margin-top: 10px;
  padding: 15px;
  background-color: black;
  height: fit-content (20em);
}
.created-by {
  opacity: 0.5;
}
#copyright {
  text-align: start;
}
/* media query for mobile */
@media (max-width: 600px) {
  body {
    margin: 0;
  }
  main {
    margin: 0 1rem;
  }
    .toggle-button {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .main-title {
      font-size: 1.5rem;
      text-align: center;
    }
    .menu-wrap {
        display: block;
    }
    .info-p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    /* line-height: 1.2; */
    text-align: start;
}
.card {
  display: block;
  text-align: center;
}
.card-content h2 {
  margin-bottom: 1rem;;
  font-size: 2rem;
}
.card-content p {
  line-height: 1.5;
  font-size: 1rem;
  text-align: center;
}
.social ul{
  /* border: solid 1px yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* grid-column: 1/ -1; */
}
.google-map {
  width: 500px;
  height: 350px;
}
.long-stay-title {
  font-size: 1.2rem;
}
}
